.DS_Store

node_modules/*
npm-debug.log
bower_components/*

.nyc_output/

coverage/

.idea/*

/lib
/dist
/dist.zip
/cloudflare-pages
/api-docs
/api-docs-markdown
/karma-temp

.eslintcache
/cache.tsbuildinfo

*.suo
*.user
.vs/
bin/
obj/
Generated\ Files/

/web.config
/vwd.webinfo

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.vscode/settings.json